<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="static/css/style_auth.css">
  </head>
  <body>
    <h1>Task Manager</h1>

    {% set errors = request.query_params.getlist("error") %}
    {% if errors %}
      <div class="error-box">
        <ul>
          {% for err in errors %}
            <li>{{ err }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form method="post">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Пароль" required>
      <button type="submit" formaction="/login">Войти</button>
      <button type="submit" formaction="/register">Зарегистрироваться</button>
    </form>
  </body>
</html>